$breakpoint-tablet: 768px;
$breakpoint-mobile: 500px;
 
 @-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(25px);
              transform: translateY(25px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(25px);
              transform: translateY(25px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

 @-webkit-keyframes fade-out-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(25px);
              transform: translateY(25px);
      opacity: 0;
    }
  }
  @keyframes fade-out-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(25px);
              transform: translateY(25px);
      opacity: 0;
    }
  }
  







.ba_prices-container{

    padding-bottom: 100px;
}

.mobile-ancher{
    display: none;
    @media screen and (max-width: $breakpoint-tablet) {
        display: block;
    }
}

.ba_products_container{
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:". . . .";
    margin-left: auto;
    margin-right: auto;
 
    
    .ba_regular_product{
        background: #FFFFFF;
        border: 1px solid rgba(0,46,62,0.20);
        box-shadow: 0 2px 12px -5px rgba(0,46,62,0.10);
        padding-bottom: 60px;
        position: relative;

        &:first-of-type{
            border-radius: 0px;
            border-right:0px;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;

            .ba_product_header_image{
                border-top-left-radius: 6px;
            }
        }
    }

    .ba_special_product{
        background: #694CE0;
        border-radius: 6px;
        box-shadow: 0 2px 12px -5px rgba(0,46,62,0.10);
        color: white;
        height: calc(100% + 40px);
        margin-top: -20px;
        border-radius: 6px;
        position: relative;
        padding-bottom: 85px;

        .ba_product_header_image{
            background: #5947C7;
            padding-top: 25px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            
            h4{
                color: white;
                font-size: 20px;
            }

            img{
                width: 45px;
            }
        }


        li{
            &::before{
                background-image: url('../assets/checkmark-white.svg') !important;
            }

        }

    }

    .ba_custom_product{
        background: #F8FAFB;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        padding-top: 20px;
        position: relative;
        .ba_product_price_container{
            padding-top: 0px;
            padding-bottom: 26px;
        }

        .ba_product_header_image{
            padding-bottom: 0px;

            h4{
                font-size: 14px;
                font-weight: 400;
            }
        }
        .ba_product_price{
            font-weight: 300 !important;
            font-size: 18px !important;
        }


        p{
            margin: 0;
            margin-top: 15px;
            margin-bottom: 3px;

            &:first-of-type{
                margin-top: 0px;
            }
        }
    }



    .ba_product_header_image{
        display: flex;
        flex-flow: row;
        align-items: center;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        background: #f8fafb;

        h4{
            font-weight: 300;
            font-family: 'roboto';
            font-size: 16px;
        }
        img{
            width: 30px;
            margin-right: 10px;
        }
    }


    .ba_product_price_container{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 18px;
        font-weight: 300;
        position: relative;

        &::after{
            content: "";
            width: calc(100% - 30px);
            position: absolute;
            bottom:0;
            left:15px;
            height: 1px;
            background: rgba(0,46,62,0.10);
        }

        .ba_product_price{
            font-weight: 600;
            font-size: 20px;
        }
    
        .ba_small_yearly{
            font-size: 12px;
        }
    }

    .ba_product_included_container{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;


        ul{
            list-style: none;

            li{
                font-size: 14px;
                line-height: 18px;
                margin-top: 10px;
                margin-bottom: 10px;
                position: relative;
                font-weight: 300;
                &::before{
                    content: "";
                    position: absolute;
                    left: -20px;
                    width: 15px;
                    height: 15px;
                    background-image: url('../assets/checkmark-black.svg');
                    background-position: center left;
                    background-repeat: no-repeat;
                }
                &:first-of-type{
                    margin-top: 0;
                }
            }
        }
    }

    .ba_product_cta_container{
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 100% !important;
        padding-left: 15px;
        padding-right: 15px;

        &.ba_product_cta_container_special{
            bottom:35px;
        }

        button{
            border-radius: 3px !important;
            background: transparent;
            width: 100%;
            padding-top: 15px !important;
            padding-bottom: 13px !important;


        }
        .ba_regular_cta_button{
            color: #694CE0 !important;
            border: 1px solid #694CE0 !important;

           
        }

        .ba_major_cta_button{
            color: #694CE0 !important;
            border: 1px solid white !important;
            background-color: white !important;
        }

        .ba_minimal_cta_button{
            color: black !important;
            border: 1px solid black !important;
        }

        
        


    }


    .ba_product_botton_extra_container{
        display: none;
    }



    @media screen and (max-width: $breakpoint-tablet) {
        grid-template-columns: 1fr;
        grid-template-areas: ".";

        .ba_each_product{
            margin-bottom: 20px;
            border-radius: 6px;
        }

        .ba_regular_product{
            border: 1px solid rgba(0, 46, 62, 0.2);
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            padding-bottom: 0px;

            .ba_product_header_image{
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;
            }
            &:first-of-type{
                border-right: 1px;
                border-radius: 6px;
                border: 1px solid rgba(0, 46, 62, 0.2);
                border-top-right-radius: 6px;
            }
            .ba_product_included_container{
                display: none;
            }


            .ba_product_cta_container{
                display: none;
            }

            .ba_product_botton_extra_container{
                display: block;
                padding-left: 15px;
                padding-top: 15px;
                padding-bottom: 15px;
                font-weight: 300;
                position: relative;
                .toggle-icon{
                    background-image: url('../assets/triangle.svg');
                    height: 100%;
                    width: 20px;
                    position: absolute;
                    top:0px;
                    right: 15px;
                    background-repeat: no-repeat;
                    background-position: center;
                    transform: rotate(-90deg);
                }

            }


            &.active{
                .ba_product_included_container{
                    display: block;
                }
    
    
                .ba_product_cta_container{
                    display: block;
                    position: relative;
                    margin-top: 10px;
                    display: inline-block;
                }

                .ba_product_botton_extra_container{
                    .toggle-icon{
                    transform: rotate(0deg);
                }

                }
            }
        }

        .ba_special_product{
            height: 100%;
            margin-top: 0px;
            border-radius: 6px;
            position: relative;
            padding-bottom: 85px;
        }

        .ba_custom_product{
            margin-top: 20px;

            .ba_product_cta_container{
                position: relative;
                margin-top: 10px;
                display: inline-block;
            }
        }
    }
}




.ba_form_control{
    input{
        background: #F3F6F7 !important;
        border-radius: 6px !important;
        border:0 !important;
    }

    select{
        background: #F3F6F7 !important;
        border-radius: 6px !important;
        border:0 !important;
    }
}

.ba_hover{
    cursor: pointer;
}

.ba_label{
    opacity: 0.7;
    font-family: 'Roboto';
    font-size: 14px;
    color: #012D3E;
    margin-bottom: 5px;
    display: inline-block;
}




.ba_checkout_container{
    width: 100%;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 80px;

    .p_price{
        font-weight: 400 !important;
        font-family: 'roboto' !important;
    }


    ul{
        list-style: none;

        li{
            font-size: 14px;
            line-height: 18px;
            margin-top: 10px;
            margin-bottom: 10px;
            position: relative;
            font-weight: 300;
            &::before{
                content: "";
                position: absolute;
                left: -20px;
                width: 15px;
                height: 15px;
                background-image: url('../assets/checkmark-black.svg');
                background-position: center left;
                background-repeat: no-repeat;
            }
            &:first-of-type{
                margin-top: 0;
            }
        }
    }

    .ba_row{
        display: flex;
        flex-flow: row;
        width: 100%;
        margin-top: 40px;
    }


    .ba_settings_container{
        h2{
            font-family: "Roboto";
            font-weight: 400;
        }


        .back-button-container{
            margin-top: 20px;
            span{
                font-size: 18px;
                padding-left: 40px;
                position: relative;
                &:before{
                    content: "";
                    width: 30px;
                    height: 20px;
                    position: absolute;
                    left: 0;
                    top: 1px;
                    background-image: url('../assets/back-arrow.svg');
                    background-position: center left;
                    background-repeat: no-repeat;
                }
            }
        }


        #recruitmentsSelectContainer{
            width: 50%;
            display: none;

            &.active{
                display: block;
            }
        }

        #staffAmountContainer{
            width: 50%;
            display: none;

            &.active{
                display: block;
            }

            &.mg-right{
                margin-left: 30px;
            }
        }


        @media screen and (max-width: $breakpoint-tablet) {
            .ba_row{
                flex-wrap: wrap;
                padding-bottom: 10px;
                border-bottom: 1px solid rgba(0, 46, 62, 0.2);
            }
            #staffAmountContainer,
            #recruitmentsSelectContainer{
                width: 100%;
                &.mg-right{
                    margin-left: 0;
                }
            }


            .support_settings{
                .support_container{
                    grid-template-columns: 1fr;

                    .each-support{
                        margin-bottom: 15px;
                    }

                    p{
                        margin-bottom: 10px;
                    }

                    ul{
                        margin-bottom: 10px;
                    }

                    .support_price{
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }

            .addons_settings{
                .featured_addons_container{
                    grid-template-columns: 1fr;
                }
            }
            
            
        }
    }

    .support_settings{
        margin-top: 40px;


        .support_container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 0px 20px;
        }

        .each-support{
            background: #F3F6F7;
            border-radius: 6px;
            padding: 15px;
            position: relative;
            display: flex;
            flex-flow: column;
            border: 1px solid white;


            .top-bar{
                position: absolute;
                top:0;
                left:0;
                height: 5px;
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;
                width: 100%;
            }

            &.silver-support{
                .top-bar{
                    background: #0598CC;
                }
            }

            &.gold-support{
                .top-bar{
                    background: #FABF5E;
                }
            }

            &.active{
                background: #FFFFFF;
                background: rgba(105,76,224,0.04);
                border: 1px solid #694CE0;
                border-radius: 6px;
                position: relative;
                &::after{
                    content:"";
                    position: absolute;
                    top:10px;
                    right:10px;
                    width: 15px;
                    height: 15px;
                    background-image: url('../assets/checkmark-black.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }

            .support_price{
                margin-top: auto;
            }
        }
    }



    .addons_settings{
        margin-top: 40px;

        .featured_addons_container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 20px 20px;
            grid-template-columns: repeat(auto-fit, 1fr);

            width: 100%;
            .each_featured_addon{
                background: #F3F6F7;
                border-radius: 6px;
                padding: 15px;
                display: flex;
                flex-flow: row;
                align-items: center;
                figure{
                    width: 30px;
                    img{
                        width: 100%;
                    }
                }

                .content{
                    margin-left: 10px;
                    h4{
                        margin:0;
                        font-weight: 300;
                        font-family: 'roboto';
                        font-size: 16px;
                    }
                }



                &.active{
                    background: #FFFFFF;
                    background: rgba(105,76,224,0.04);
                    border: 1px solid #694CE0;
                    border-radius: 6px;
                    position: relative;
                    &::after{
                        content:"";
                        position: absolute;
                        top:5px;
                        right:5px;
                        width: 15px;
                        height: 15px;
                        background-image: url('../assets/checkmark-black.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                    }


                    h4{
                        color: #694CE0;
                    }
                }

                
            }
        }


        .basic_addons_container_outer{
            margin-top: 40px;

            .background-box-label-outer{
                width: 100%;
                position: relative;
                &::before{
                    content:"";
                    width: 100%;
                    height: 1px;
                    background: rgba(0,46,62,0.10);
                    position: absolute;
                    left:0;
                    top: 10px;
                    z-index: 0;
                }
                .background-box-label{
                    background:white;
                    position: relative;
                    z-index: 1;
                    width: 300px;
                    margin-left: auto;
                    margin-right: auto;
                    h5{
                        text-align: center;
                        width:100%;
                    }
                }
            }


            .basic_addons_container{
                padding-right: 15px;
                li{
                    display: none;
                    flex-flow: row;
                    align-items: center;
                    border-bottom:rgba(0,46,62,0.10) 1px solid;
                    margin-top: 15px;
                    padding-bottom: 15px;

                    label{
                        margin-left: 5px;
                    }

                    &::before{
                        display: none;
                    }
                    p{
                        margin-left: auto;
                    }


                    &.show{
                        display: flex;
                    }
                }
            }
        }
    }


    @media screen and (max-width: $breakpoint-tablet) {
        grid-template-columns: 1fr;
        position: relative;
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    .grve-column.wpb_column.grve-column-1{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}


.ba_price_summary-container{

    .small-year{
        font-weight: 300;
        font-size: 16px;
    }
    .ba_price_summary{
        margin-top: 20px;
        background: #FFFFFF;
        border: 1px solid #694CE0;
        border-radius: 6px;
        min-height: 400px;
        padding: 20px 20px;

        .price-header{
            display: flex;
            flex-flow: row;
            align-items: center;
            font-size: 18px;
            font-weight: 300;

            figure{
                margin-right: 10px;
                width: 40px;
            }
        }

        .price-label{
            font-weight: 400;
            margin-top: 20px;
        }

        .each-basic-price{
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            font-weight: 300;
            border-bottom:1px solid rgba(0,46,62,0.10);
            font-size: 14px;
            padding-top: 10px;
            padding-bottom: 10px;

            div:first-of-type{
                max-width: 300px;
            }

            .summary-price{
                font-size: 16px;
            }

            
        }

        .each-summary-price{
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            font-weight: 300;
            font-size: 14px;
            padding-top: 4px;
            &.each-full-price{
                font-weight: 300;
                padding-top: 10px;

                .ba_product_price{
                    font-weight: 500;
                    font-size: 22px;
                    padding-left: 3px;
                }
            }
        }

        .price-summary{
            border-top:1px solid rgba(0,46,62,0.10);
            margin-top: 5px;
            padding-top: 20px;
            padding-bottom: 5px;
            border-bottom:1px solid rgba(0,46,62,0.10);
        }
    }

    .price-footer{
        width: 100%;
        display: flex;
        padding-top: 20px;
        button{
            margin-left: auto;
            display: inline-block;
            background: #694CE0 !important;
            border-radius: 6px !important;
            font-family: 'roboto' !important;
            font-size: 20px !important;
            color: #F6FBFD !important;
            padding-left: 30px !important;
            padding-right: 30px !important;
            padding-top: 13px !important;
            padding-bottom:13px !important;
        }
    }


    @media screen and (max-width: $breakpoint-tablet) {
     position: fixed;
     -webkit-backface-visibility: hidden;
     bottom: calc(1 * (170px - 100vh));
     left:0;
     width: 100%;
     z-index: 10;
     max-height: 100vh;
     height: calc(100vh - 100px);
     .ba_price_summary{
         margin-top: 0;
         border-top-left-radius: 0;
         border-top-right-radius: 0;
         height: calc(100% - 30px);

         display: grid;

         grid-template-rows: 40px 1fr 100px;
        overflow-y: scroll;

         .price-content{
            display: flex;
            flex-flow: column;
            padding-top: 10px;

            #finalSummary{
                margin-top: auto;
            }
         }

         .ba_bigCTA{
             width: 100%;
         }

         .price-footer{
             padding-bottom: 20px;
         }
     }

     transition: 0.6s ease all;

     &.scrolledTo{
         position: relative;
         bottom: auto;
         transition: 0.6s ease all;
         margin-top: 20px;
        max-height: initial;
         height: auto;

         .ba_price_summary{
            grid-template-rows: 40px 1fr 70px;


         }

         .price-footer{
            padding-bottom: 0px;
        }
     }
    }

    #finalSummaryMobileHeader{
        background:#5947C7;
        color: white;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        padding-left: 15px;
        padding-right: 15px;
        height: 70px;
        display: flex;
        align-items: center;
        position: relative;
        display: none;

        @media screen and (max-width: $breakpoint-tablet) {
            display: flex;
        }

        .interaction-icon{
            width: 30px;
            height: 30px;
            background:#5947C7;
            position: absolute;
            top: -12px;
            border-radius: 50%;
            left: calc(50vw - 15px);
            .icon{
                background-image: url('../assets/triange-white.svg');
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: 6px 6px;
                background-size: 60%;
                
            }
        }
        .each-full-price{
            display: flex;
            flex-flow: row;
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
            font-weight: 300;
            font-size: 14px;
            padding-top: 4px;

            .ba_product_price{
                font-weight: 600;
                font-size: 32px;
                padding-left: 3px;
            }

        }
    }

    &.mobile-active{

        @media screen and (max-width: $breakpoint-tablet) {
            bottom: 0;
            #finalSummaryMobileHeader{
                height: 30px;


                .interaction-icon{
                    .icon{
                        transform: rotate(180deg);
                        background-position: 6px 10px;
                    }
                }


                .each-full-price{
                    display: none;
                }
            }

        }
        
        
    }
}






#baCardsView{
    display: none;


    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    &.active{
        display: grid;
    }
}

#checkoutContainer{
    display: none;
    transform: none !important;


    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    &.active{
        display: grid;
    }
}

.fade-in-bottom{
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-out-bottom {
    -webkit-animation: fade-out-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
        animation: fade-out-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
}
.ba_hide{
    display: none;
}